@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Righteous|Quicksand');
@import url('https://fonts.googleapis.com/css?family=Lato|Palanquin+Dark|Slabo+27px');

@font-face {
  font-family: 'Galano';
  src: url('/assets/fonts/Galano Grotesque DEMO Bold.otf');
}

html, body {
    margin: 0;
    padding: 0;
}

p, a {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 500;
    margin-top: 0em;
}


/* ------- React class stylings ------ */

.container {
    width: 100%;
    height: 100%;
}
.appBar {
    margin: 2em;
    margin-bottom: 1em;
}

.barItem {
    font-size: 1.25em;
    font-family: 'Galano';
    text-decoration: none;
    color: #7a21ff;
    margin-left: 1.5em;
}

.logo {
    width: 4rem;
}

.heading {
    font-family: 'Galano';
    color: #7a21ff;
    font-size: 4em;
    margin-left: 1em;
}

.recordImageContainer {
    width: 100%;
    position: relative;
    z-index: 0;
}

.recordImage {
    float: right;
    margin-right: 2em;
    margin-top: -9em;
    animation: spin 3s infinite linear;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    from { transform: rotate(360deg); }
}

.binContainer {
    width: 100%;
}

.binFront {
    display: block;
    margin: auto;
    width: 92%;
    height: 8em;
    z-index: 3;

    position: relative;
    top: 17.5em;

    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.binBack {
    display: block;
    margin: auto;
    width: 90%;
    height: 20em;
    z-index: 1;

    position: relative;
    bottom: 7.5em;

    border-radius: 3px;
    background-color: #f2f2f2;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.binSide {

}

.records {
    margin-top: 2em;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: flex-start;
}

.album {
    /*padding: 1em;*/
    margin: 1.5em;
    width: 14em;
    height: 14em;
    box-shadow: 0 20px 40px rgba(0,0,0,0.45), 0 6px 6px rgba(0,0,0,0.25);

    transition: margin-top 0.5s, width 0.5s, height 0.5s;
    transition-timing-function: ease;
}

.album:hover {
    margin-top: -1em;
}

.album:active {
    width: 16em;
    height: 16em;
}


/* Styling for responsiveness */ 
@media (max-device-width: 1000px){

}



