@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Righteous|Quicksand');
@import url('https://fonts.googleapis.com/css?family=Lato|Palanquin+Dark|Slabo+27px');

@font-face {
  font-family: 'Galano';
  src: url('/assets/fonts/Galano Grotesque DEMO Bold.otf');
}

html, body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    /*overflow-x: hidden; */
}

p, a {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 500;
    /*margin-top: 0;*/
}

/* ------- React class stylings ------ */

.container {
    width: 100%;
    height: 100%;
}

.backgroundImage {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
  opacity: 1;
  filter: grayscale(1) contrast(200%);
}

.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  /*background-image: linear-gradient(to bottom, #7a21ff, #7a21ff);*/
  background-image: linear-gradient(to bottom, #6600ff, #6600ff);
  opacity: 0.65;
}

.midCard {
  width: 60%;
  height: 100%;
  position: absolute;
  z-index: -1;
  right: 0;
  background-color: #fff;
  opacity: 0.97;

  /* clip path: TL, TR, BR, BL order. W x H */

  /* right side */
  -webkit-clip-path: polygon(20% 0, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(20% 0, 100% 0%, 100% 100%, 0% 100%);

  /* left side */
  /*-webkit-clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);*/
}

.appBar {
    margin: 2em;
    margin-top: 0;
  }

.barItem {
    font-size: 1.25em;
    font-family: 'Galano';
    text-decoration: none;
    color: #7a21ff;
    color: #fff;
    margin-left: 3em;

    position: relative;
    top: -1.5em;

}

.logo {
    width: 4rem;
    margin-top: 1em;
}

.heading {
    font-family: 'Galano';
    color: #7a21ff;
    color: #fff;
    font-size: 4em;
    margin-left: 1.5em;
}

.recordImageContainer {
    width: 100%;
    position: relative;
    z-index: 0;
}

.recordImage {
    float: right;
    margin-right: 2em;
    margin-top: -9em;
    animation: spin 5s infinite linear;
    border-radius: 100%;
    box-shadow: 0px 0px 100px 1px #888888;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    from { transform: rotate(360deg); }
}

.binContainer {
    width: 100%;
    margin-top: 5em;
}

.binFront {
    display: block;
    margin: auto;
    width: 92%;
    height: 8em;

    position: relative;
    z-index: 10;
    top: 17.5em;

    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    background-image: url('../../assets/wood3.jpg');
    background-size: cover;
    background-position: center;
    transform: rotate(180deg);
}

.binBack {
    display: block;
    margin: auto;
    width: 90%;
    height: 20em;

    position: relative;
    z-index: 1;
    bottom: 7.5em;

    border-radius: 3px;
    background-color: #f2f2f2;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    background-image: url('../../assets/wood3.jpg');
    background-size: cover;
    background-position: center;


}

.binSide {

}

.records {
    margin-top: 2em;
    margin-left: 5em;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
}

.album {
    /*padding: 1em;*/
    border-radius: 5px;
    margin: 1.5em;
    width: 14em;
    height: 14em;
    box-shadow: 0 20px 40px rgba(0,0,0,0.45), 0 6px 6px rgba(0,0,0,0.25);

    transition: margin-top 0.5s, width 0.5s, height 0.5s;
    transition-timing-function: ease;
}

.album:hover {
    margin-top: -1em;
}

.album:active {
    width: 16em;
    height: 16em;
}

/* ------------ Current Album Styles ----------- */

.currentAlbumContainer {
  position: absolute;
  z-index: 3;
  top: -9.5em;
  left: 0;
  right: 0;
  left: -6em;
  width: 97.5rem;
  height: 85vh;
  display: block;
  margin: auto;

  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.closeButton {
    float: right;
    margin: 2em;
}


/* Styling for responsiveness */
@media (max-device-width: 1000px){

}
